    <section class="container mt-5 p-lg-5 part1" >
        <ul class="stats">
            <li>Création de l'état d'Israel</li>
            <li>
                <p>Jour</p><br>
                <p class="time">200</p>
            </li>
            <li>
                <p>Mois</p><br>
                <p class="time">200</p>
            </li>
            <li>
                <p>Année</p><br>
                <p class="time">200</p>
            </li>
            <li>
                <p>Habitants</p><br>
                <p class="time">200</p>
            </li>
        </ul>
    </section>