{% extends 'base.html.twig' %}

{% block title %}Espace membre{% endblock %}

{% block body %}

<p>Bienvenue dans votre espace membre.Dans cette espace vous pouvez modifier votre mot de passe </p></br>
- <a href="{{ path ('password_modify')}}">Modifier mon mot de passe</a><br>

{% endblock %}

